﻿@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="authentication-wrapper authentication-cover">
    @RenderBody()
</div>
@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('.nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })
    </script>
}